In [1]:
import os
import pandas as pd

In [2]:
file1 = "./MDC_Housing_Data.csv"
housing_data = pd.read_csv(file1)

In [3]:
file2 = "./ZIP_TRACT_2019.csv"
zip_vs_tract = pd.read_csv(file2)

In [4]:
file3 = './ACSST5Y2018.S1902_data_with_overlays_2020-01-11T105425.csv'
income_data = pd.read_csv(file3)

In [5]:
housing_data
cols = [0,3,49]
housing_data = housing_data
housing_data = pd.DataFrame(housing_data.iloc[:, cols])

In [6]:
new = housing_data.drop(housing_data.index[[0,2]])
new

   Miami-Dade County, FL - All Homes  Unnamed: 3 Unnamed: 49
1                        Region Name     Current     Current
3                              33010    $321,100         ---
4                              33012    $251,200      $1,807
5                              33013    $341,000         ---
6                              33014    $268,800      $1,892
7                              33015    $271,400      $1,820
8                              33016    $204,900      $1,673
9                              33018    $327,400      $2,172
10                             33027    $317,800      $2,186
11                             33030    $258,600      $1,816
12                             33031    $466,700         ---
13                             33032    $268,900      $1,901
14                             33033    $248,900      $1,726
15                             33034    $165,700      $1,510
16                             33035    $169,700      $1,505
17                             33054    $243,100         ---
18                             33055    $290,400      $1,947
19                             33056    $273,000      $1,918
20                             33106    $313,700         ---
21                             33109  $3,014,700     $10,855
22                             33122  $1,244,200         ---
23                             33125    $311,700      $1,886
24                             33126    $206,500      $1,628
25                             33127    $281,800      $1,934
26                             33128    $196,900         ---
27                             33129    $484,300      $2,492
28                             33130    $348,200      $2,297
29                             33131    $395,200      $2,458
30                             33132    $364,400      $2,359
31                             33133    $620,700      $2,768
..                               ...         ...         ...
55                             33162    $280,300      $1,990
56                             33165    $386,300      $2,320
57                             33166    $367,000      $2,016
58                             33167    $250,300      $1,811
59                             33168    $261,500      $1,850
60                             33169    $270,400      $1,956
61                             33170    $306,000      $2,015
62                             33172    $200,600      $1,685
63                             33173    $359,000      $2,181
64                             33174    $283,000      $1,986
65                             33175    $366,600      $2,259
66                             33176    $365,600      $2,123
67                             33177    $317,000      $2,009
68                             33178    $342,500      $2,341
69                             33179    $163,800      $1,610
70                             33180    $354,600      $2,302
71                             33181    $220,800      $1,899
72                             33182    $375,600      $2,328
73                             33183    $255,900      $1,864
74                             33184    $343,600      $2,190
75                             33185    $396,500      $2,364
76                             33186    $320,700      $2,055
77                             33187    $393,300      $2,314
78                             33188         ---         ---
79                             33189    $306,100      $1,998
80                             33190    $267,800      $1,873
81                             33193    $289,700      $1,980
82                             33194    $368,400      $2,302
83                             33196    $354,700      $2,208
84                             33199         ---         ---

[83 rows x 3 columns]

In [7]:
new_header = new.iloc[0] 
new = new[1:]
new.columns = new_header

In [8]:
new.head(25)
col_names = ['zip_code','home_value','rent_value']

In [9]:
new.columns = col_names

In [10]:
home_value_byzip = new
home_value_byzip

   zip_code  home_value rent_value
3     33010    $321,100        ---
4     33012    $251,200     $1,807
5     33013    $341,000        ---
6     33014    $268,800     $1,892
7     33015    $271,400     $1,820
8     33016    $204,900     $1,673
9     33018    $327,400     $2,172
10    33027    $317,800     $2,186
11    33030    $258,600     $1,816
12    33031    $466,700        ---
13    33032    $268,900     $1,901
14    33033    $248,900     $1,726
15    33034    $165,700     $1,510
16    33035    $169,700     $1,505
17    33054    $243,100        ---
18    33055    $290,400     $1,947
19    33056    $273,000     $1,918
20    33106    $313,700        ---
21    33109  $3,014,700    $10,855
22    33122  $1,244,200        ---
23    33125    $311,700     $1,886
24    33126    $206,500     $1,628
25    33127    $281,800     $1,934
26    33128    $196,900        ---
27    33129    $484,300     $2,492
28    33130    $348,200     $2,297
29    33131    $395,200     $2,458
30    33132    $364,400     $2,359
31    33133    $620,700     $2,768
32    33134    $493,900     $2,381
..      ...         ...        ...
55    33162    $280,300     $1,990
56    33165    $386,300     $2,320
57    33166    $367,000     $2,016
58    33167    $250,300     $1,811
59    33168    $261,500     $1,850
60    33169    $270,400     $1,956
61    33170    $306,000     $2,015
62    33172    $200,600     $1,685
63    33173    $359,000     $2,181
64    33174    $283,000     $1,986
65    33175    $366,600     $2,259
66    33176    $365,600     $2,123
67    33177    $317,000     $2,009
68    33178    $342,500     $2,341
69    33179    $163,800     $1,610
70    33180    $354,600     $2,302
71    33181    $220,800     $1,899
72    33182    $375,600     $2,328
73    33183    $255,900     $1,864
74    33184    $343,600     $2,190
75    33185    $396,500     $2,364
76    33186    $320,700     $2,055
77    33187    $393,300     $2,314
78    33188         ---        ---
79    33189    $306,100     $1,998
80    33190    $267,800     $1,873
81    33193    $289,700     $1,980
82    33194    $368,400     $2,302
83    33196    $354,700     $2,208
84    33199         ---        ---

[82 rows x 3 columns]

In [11]:
zip_vs_tract = zip_vs_tract[['zip','tract']]

zip_vs_tract

          zip        tract
0         501  36103158607
1         601  72113071700
2         601  72001956800
3         601  72001956300
4         601  72001956600
5         601  72001956700
6         602  72005400300
7         602  72003430602
8         602  72003430300
9         602  72003430200
10        603  72005400300
11        603  72005400700
12        603  72005400502
13        603  72005400900
14        603  72005400800
15        603  72005401000
16        603  72005400400
17        603  72005400600
18        603  72005401100
19        603  72005400501
20        603  72071410300
21        603  72005401301
22        603  72005401302
23        604  72005400300
24        605  72005401301
25        606  72093960100
26        606  72093960200
27        610  72011810700
28        610  72011810300
29        610  72011810500
...       ...          ...
170163  99801   2110000500
170164  99820   2105000300
170165  99824   2110000600
170166  99825   2105000300
170167  99826   2105000300
170168  99827   2100000100
170169  99829   2105000300
170170  99830   2195000200
170171  99832   2105000300
170172  99833   2195000200
170173  99835   2220000100
170174  99835   2220000200
170175  99836   2195000200
170176  99840   2230000100
170177  99841   2105000300
170178  99901   2130000200
170179  99901   2130000400
170180  99901   2130000100
170181  99901   2130000300
170182  99903   2275000300
170183  99918   2198000100
170184  99919   2198000100
170185  99921   2198000200
170186  99922   2198000100
170187  99923   2198000300
170188  99925   2198000200
170189  99926   2198940100
170190  99927   2198000100
170191  99928   2130000100
170192  99929   2275000300

[170193 rows x 2 columns]

In [12]:
zip_data = new.join(zip_vs_tract)
zip_data = zip_data[['zip_code','home_value','rent_value']]
zip_data['zip_code'] = zip_data.zip_code.astype(float)

In [13]:
zip_data

    zip_code  home_value rent_value
3    33010.0    $321,100        ---
4    33012.0    $251,200     $1,807
5    33013.0    $341,000        ---
6    33014.0    $268,800     $1,892
7    33015.0    $271,400     $1,820
8    33016.0    $204,900     $1,673
9    33018.0    $327,400     $2,172
10   33027.0    $317,800     $2,186
11   33030.0    $258,600     $1,816
12   33031.0    $466,700        ---
13   33032.0    $268,900     $1,901
14   33033.0    $248,900     $1,726
15   33034.0    $165,700     $1,510
16   33035.0    $169,700     $1,505
17   33054.0    $243,100        ---
18   33055.0    $290,400     $1,947
19   33056.0    $273,000     $1,918
20   33106.0    $313,700        ---
21   33109.0  $3,014,700    $10,855
22   33122.0  $1,244,200        ---
23   33125.0    $311,700     $1,886
24   33126.0    $206,500     $1,628
25   33127.0    $281,800     $1,934
26   33128.0    $196,900        ---
27   33129.0    $484,300     $2,492
28   33130.0    $348,200     $2,297
29   33131.0    $395,200     $2,458
30   33132.0    $364,400     $2,359
31   33133.0    $620,700     $2,768
32   33134.0    $493,900     $2,381
..       ...         ...        ...
55   33162.0    $280,300     $1,990
56   33165.0    $386,300     $2,320
57   33166.0    $367,000     $2,016
58   33167.0    $250,300     $1,811
59   33168.0    $261,500     $1,850
60   33169.0    $270,400     $1,956
61   33170.0    $306,000     $2,015
62   33172.0    $200,600     $1,685
63   33173.0    $359,000     $2,181
64   33174.0    $283,000     $1,986
65   33175.0    $366,600     $2,259
66   33176.0    $365,600     $2,123
67   33177.0    $317,000     $2,009
68   33178.0    $342,500     $2,341
69   33179.0    $163,800     $1,610
70   33180.0    $354,600     $2,302
71   33181.0    $220,800     $1,899
72   33182.0    $375,600     $2,328
73   33183.0    $255,900     $1,864
74   33184.0    $343,600     $2,190
75   33185.0    $396,500     $2,364
76   33186.0    $320,700     $2,055
77   33187.0    $393,300     $2,314
78   33188.0         ---        ---
79   33189.0    $306,100     $1,998
80   33190.0    $267,800     $1,873
81   33193.0    $289,700     $1,980
82   33194.0    $368,400     $2,302
83   33196.0    $354,700     $2,208
84   33199.0         ---        ---

[82 rows x 3 columns]

In [14]:
income_data = income_data[['GEO_ID','S1902_C03_001E']]

income_data

                   GEO_ID                                     S1902_C03_001E
0                      id  Estimate!!Mean income (dollars)!!HOUSEHOLD INC...
1    1400000US12086000107                                              80065
2    1400000US12086000109                                              51107
3    1400000US12086000113                                              96580
4    1400000US12086000115                                             155974
5    1400000US12086000118                                             292064
6    1400000US12086000119                                              92746
7    1400000US12086000120                                             121055
8    1400000US12086000121                                             145378
9    1400000US12086000122                                              96652
10   1400000US12086000123                                             109064
11   1400000US12086000124                                              43910
12   1400000US12086000125                                              67888
13   1400000US12086000126                                              70335
14   1400000US12086000127                                              79512
15   1400000US12086000128                                              72816
16   1400000US12086000129                                             229358
17   1400000US12086000130                                             111400
18   1400000US12086000131                                             130298
19   1400000US12086000132                                              61284
20   1400000US12086000133                                             169910
21   1400000US12086000134                                              53815
22   1400000US12086000140                                              58363
23   1400000US12086000202                                              49354
24   1400000US12086000204                                              60359
25   1400000US12086000206                                              47119
26   1400000US12086000209                                              38178
27   1400000US12086000211                                              59639
28   1400000US12086000212                                              47433
29   1400000US12086000213                                              57180
..                    ...                                                ...
490  1400000US12086018600                                              77097
491  1400000US12086018700                                              91333
492  1400000US12086018800                                              68724
493  1400000US12086018900                                             107342
494  1400000US12086019000                                              86789
495  1400000US12086019100                                              78570
496  1400000US12086019200                                              73679
497  1400000US12086019300                                              76164
498  1400000US12086019400                                              84480
499  1400000US12086019500                                              83433
500  1400000US12086019600                                             106552
501  1400000US12086019700                                              98764
502  1400000US12086019800                                             101694
503  1400000US12086019900                                              69308
504  1400000US12086020000                                              88004
505  1400000US12086020100                                              95056
506  1400000US12086020200                                              52905
507  1400000US12086020300                                              59395
508  1400000US12086490100                                              55027
509  1400000US12086980100                                                  -
510  1400000US12086980200                                                  -
511  1400000US12086980300                                                  N
512  1400000US12086980400                                                  -
513  1400000US12086980500                                                  -
514  1400000US12086980600                                                  -
515  1400000US12086980700                                              12332
516  1400000US12086980800                                                  -
517  1400000US12086980900                                                  -
518  1400000US12086981000                                                  -
519  1400000US12086990000                                                  -

[520 rows x 2 columns]

In [15]:
income_data = income_data.drop(0)

In [16]:
# new data frame with split value columns 
new = income_data["GEO_ID"].str.split("US", n = 1, expand = True) 
  
# making separate first name column from new data frame 
income_data["x"]= new[0] 
  
# making separate last name column from new data frame 
income_data["Tract"]= new[1]

In [17]:
income_data = income_data[['S1902_C03_001E','Tract']].rename(columns={'S1902_C03_001E':'Avg_income'})
income_data
income_data['Tract']=income_data['Tract'].astype(int)

In [18]:
#income_data = pd.merge(left = income_data,right = zip_vs_tract, left_on='Tract', right_on='tract')
merged_left = pd.merge(left=income_data,right=zip_vs_tract, how='left', left_on='Tract', right_on='tract')

In [19]:
merged_left = merged_left[['Avg_income','zip']]

In [20]:
merged_left

    Avg_income      zip
0        80065  33160.0
1        51107  33160.0
2        51107  33181.0
3        51107  33261.0
4        96580  33163.0
5        96580  33180.0
6       155974  33160.0
7       292064  33160.0
8        92746  33180.0
9       121055  33154.0
10      121055  33181.0
11      145378  33180.0
12       96652  33180.0
13      109064  33160.0
14       43910  33161.0
15       43910  33181.0
16       67888  33160.0
17       70335  33160.0
18       79512  33160.0
19       72816  33160.0
20      229358  33160.0
21      111400  33154.0
22      111400  33160.0
23      130298  33160.0
24      130298  33180.0
25       61284  33160.0
26       61284  33180.0
27      169910  33180.0
28      169910  33280.0
29       53815  33179.0
..         ...      ...
905      88004  33177.0
906      88004  33187.0
907      95056  33177.0
908      52905  33157.0
909      52905  33177.0
910      59395  33157.0
911      59395  33177.0
912      55027  33125.0
913      55027  33126.0
914          -      NaN
915          -  33186.0
916          N  33143.0
917          N  33146.0
918          -  33149.0
919          -  33122.0
920          -  33126.0
921          -  33142.0
922          -  33166.0
923          -  33206.0
924          -  33032.0
925          -  33190.0
926      12332  33032.0
927      12332  33033.0
928      12332  33039.0
929          -  33054.0
930          -  33185.0
931          -  33193.0
932          -  33132.0
933          -  33139.0
934          -      NaN

[935 rows x 2 columns]

In [21]:
merged_left.dropna()
merged_left.Avg_income = pd.to_numeric(merged_left.Avg_income, errors='coerce').fillna(0).astype(int)

In [22]:
merged_left

     Avg_income      zip
0         80065  33160.0
1         51107  33160.0
2         51107  33181.0
3         51107  33261.0
4         96580  33163.0
5         96580  33180.0
6        155974  33160.0
7        292064  33160.0
8         92746  33180.0
9        121055  33154.0
10       121055  33181.0
11       145378  33180.0
12        96652  33180.0
13       109064  33160.0
14        43910  33161.0
15        43910  33181.0
16        67888  33160.0
17        70335  33160.0
18        79512  33160.0
19        72816  33160.0
20       229358  33160.0
21       111400  33154.0
22       111400  33160.0
23       130298  33160.0
24       130298  33180.0
25        61284  33160.0
26        61284  33180.0
27       169910  33180.0
28       169910  33280.0
29        53815  33179.0
..          ...      ...
905       88004  33177.0
906       88004  33187.0
907       95056  33177.0
908       52905  33157.0
909       52905  33177.0
910       59395  33157.0
911       59395  33177.0
912       55027  33125.0
913       55027  33126.0
914           0      NaN
915           0  33186.0
916           0  33143.0
917           0  33146.0
918           0  33149.0
919           0  33122.0
920           0  33126.0
921           0  33142.0
922           0  33166.0
923           0  33206.0
924           0  33032.0
925           0  33190.0
926       12332  33032.0
927       12332  33033.0
928       12332  33039.0
929           0  33054.0
930           0  33185.0
931           0  33193.0
932           0  33132.0
933           0  33139.0
934           0      NaN

[935 rows x 2 columns]

In [23]:
avgincome_perzip = merged_left.groupby(['zip']).mean()

In [24]:
avgincome_perzip

            Avg_income
zip
33002.0   55473.000000
33010.0   40904.846154
33011.0   32323.000000
33012.0   44724.055556
33013.0   44833.750000
33014.0   61790.416667
33015.0   71307.818182
33016.0   63940.300000
33017.0   42567.000000
33018.0   77040.272727
33023.0   69719.000000
33027.0   82757.000000
33030.0   58926.888889
33031.0   80247.750000
33032.0   51047.461538
33033.0   57018.076923
33034.0   52764.428571
33035.0   67775.000000
33039.0   12332.000000
33054.0   38639.727273
33055.0   53349.375000
33056.0   54056.909091
33090.0   41681.000000
33092.0   63641.000000
33101.0   27928.000000
33106.0   94063.000000
33109.0  231387.000000
33112.0   94063.000000
33114.0   87325.000000
33116.0   53585.000000
...                ...
33191.0   70132.000000
33192.0   94063.000000
33193.0   63797.200000
33194.0   66020.666667
33195.0   75716.500000
33196.0   84215.187500
33197.0   33040.000000
33198.0   70132.000000
33199.0       0.000000
33206.0       0.000000
33222.0   94063.000000
33231.0   95421.000000
33233.0  116331.000000
33234.0   99910.500000
33238.0   29351.000000
33239.0   90742.000000
33242.0   30354.000000
33243.0   51020.000000
33245.0   89010.000000
33247.0   49179.000000
33255.0   97293.000000
33256.0  153285.000000
33257.0   89901.000000
33261.0   51107.000000
33265.0   83844.000000
33266.0   68208.000000
33269.0   56083.000000
33280.0  169910.000000
33283.0   70733.000000
33296.0   77097.000000

[124 rows x 1 columns]

In [25]:
#income_homevalue = pd.merge(left=zip_data,right=merged_left, how='inner', left_on='zip_code', right_on='zip')
income_homevalue = pd.merge(left=avgincome_perzip,right=zip_data, how='inner', left_on='zip', right_on='zip_code')

In [26]:
income_homevalue['rule_of_thumb'] = (income_homevalue.Avg_income * 0.3 / 12).round(3)

In [27]:
income_homevalue['rent_value'] = income_homevalue['rent_value'].str.replace('$','').str.replace(',','')
income_homevalue['rent_value'] = pd.to_numeric(income_homevalue.rent_value, errors='coerce').fillna(0).astype(int)

In [28]:
income_homevalue['home_value'] = income_homevalue['home_value'].str.replace('$','').str.replace(',','')
income_homevalue['home_value'] = pd.to_numeric(income_homevalue.home_value, errors='coerce').fillna(0).astype(int)

In [29]:
income_homevalue['disparity'] = income_homevalue.rent_value - income_homevalue.rule_of_thumb

In [30]:
income_homevalue = income_homevalue.sort_values(by='disparity', ascending= False).sort_values(by='Avg_income')

In [31]:
income_homevalue = income_homevalue[income_homevalue.rent_value != 0]

In [37]:
top30_disparity = income_homevalue.head(30)

In [33]:
top30_disparity['zip_code'] = top30_disparity['zip_code'].astype(int)
top30_disparity['Avg_income'] = top30_disparity['Avg_income'].round(3)

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [34]:
top30_disparity = top30_disparity.reset_index(drop=True)

In [35]:
zip_list = top30_disparity['zip_code'].tolist()

In [36]:
zip_list

[33142,
 33127,
 33147,
 33125,
 33136,
 33012,
 33167,
 33126,
 33150,
 33032,
 33130,
 33162,
 33034,
 33055,
 33056,
 33174,
 33172,
 33033,
 33168,
 33190,
 33169,
 33181,
 33030,
 33014,
 33193,
 33016,
 33161,
 33184,
 33194,
 33035]