In [1]:
# Dependencies
import pandas as pd
import numpy as np
import requests
import json

# Yelp API Key
gkey = 'fxuoEjmZHd5kA1x20u4z2waSsXfTm49pWr2F6ac-htERJ0haCqXH949tlmDYt9lhy4MC6nBJjt2llMwhQJfxbwX69QlFkI221WkMDZTn7NMQBaXRrWGBFzCrg4-9XXYx'

In [2]:
from etl_clean_ip import zip_list

/Users/monicamalarcon/Dropbox/School/UM_Bootcamp/Work_Bootcamp/13 - ETL-Project/ETL-project/ETL-Project/Data/etl_clean_ip.py:231: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  top30_disparity['zip_code'] = top30_disparity['zip_code'].astype(int)
/Users/monicamalarcon/Dropbox/School/UM_Bootcamp/Work_Bootcamp/13 - ETL-Project/ETL-project/ETL-Project/Data/etl_clean_ip.py:232: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  top30_disparity['Avg_income'] = top30_disparity['Avg_income'].round(3)

In [3]:
#set up base url
# base url
base_url = "https://api.yelp.com/v3/businesses/search"

# set up api_key dictionary
headers = {
        'Authorization': 'Bearer %s' % gkey,
    }

# set up a parameters dictionary
def s_params(target_loc,target_key,target_type):
    params = {
    "location": target_loc,
    "term": target_key,
    "categories": target_type,
}
    return params

# run a request using our params dictionary
def s_query(base_url,headers,params):
    response = requests.request('GET', base_url, headers=headers, params=params).json()
    return response

In [4]:
# Import zip list
zip_list 


#cities_pd.shape[0] #use .shape[0] to count the number of rows

[33142,
 33127,
 33147,
 33125,
 33136,
 33012,
 33167,
 33126,
 33150,
 33032,
 33130,
 33162,
 33034,
 33055,
 33056,
 33174,
 33172,
 33033,
 33168,
 33190,
 33169,
 33181,
 33030,
 33014,
 33193,
 33016,
 33161,
 33184,
 33194,
 33035]

In [5]:
# create empty lists to hold yelp data
names = []
addresses = []
zipcode= []
lats = []
lons = []
ratings = []
price = []

#define Yelp function to get restaurant data
def get_restaurants(loc):
    
    #these are the additional params
    add_params = { "limit" : 50, "sort_by": "distance"}

    #these are the original params
    params = s_params(loc,"restaurants","restaurants, All")

    #add additional params to our params from before
    s1_params = {**params,**add_params}

    s1_results = s_query(base_url,headers,s1_params)
    
    if (s1_results):
        name = s1_results["businesses"][0]["name"]
        address = s1_results["businesses"][0]["location"]["display_address"]
        lat = s1_results["businesses"][0]["coordinates"]["latitude"]
        lon = s1_results["businesses"][0]["coordinates"]["longitude"]
        rating = s1_results["businesses"][0]["rating"]
        price = s1_results["businesses"][0]["price"]
        output = [name,address,lat,lon,rating,price] 
    else:
        output = ["NaN","NaN","NaN","NaN","NaN","NaN"]
    
    
    return output

In [13]:
restaurants = []

for zipc in zip_list:
    loc = zipc
    output = get_restaurants(loc)
    print(output)
    restaurants.append(output)
print(restaurants)

['KFC', ['3855 NW 27th Ave', 'Miami, FL 33142'], 25.8116927509269, -80.2399722241868, 2.5, '$']
['DoggyStyle Miami Hot Dogs', ['Miami, FL 33127'], 25.8105183, -80.2042436, 4.5, '$$']
['Benettes Pizza and Subs', ['8852 NW 22nd Ave', 'Miami, FL 33147'], 25.8550834, -80.2341257, 3.0, '$']
['Fritanga Cana Brava', ['2795 NW 7th St', 'Miami, FL 33125'], 25.77976, -80.24067, 4.5, '$']

KeyError: 'price'

In [6]:
# Loop through the zipcodes in zip_list and append restaurant info to lists above
print("Beginning Data Retrieval")
print("-----------------------------------")

restaurants = []

for zipc in zip_list:
    loc = zipc
    try:
        output = get_restaurants(loc)
        print(output)
        restaurants.append(output)

        For x in output:
        names.append(output[0])
        addresses.append(output[1])
        zipcode.append(loc)
        lats.append(output[2])
        lons.append(output[3])
        ratings.append(output[4])
        price.append(output[5])
        
# make exception for key errors        
    except (KeyError, IndexError):
        print(f'Key missing')
        output = ["NaN","NaN","NaN","NaN","NaN","NaN"]
        names.append(output[0])
        addresses.append(output[1])
        zipcode.append(zipc)
        lats.append(output[2])
        lons.append(output[3])
        ratings.append(output[4])
        price.append(output[5])

print("-----------------------------------")
print("Data Retrieval Complete")

    
print("done!")

Beginning Data Retrieval
-----------------------------------
['KFC', ['3855 NW 27th Ave', 'Miami, FL 33142'], 25.8116927509269, -80.2399722241868, 2.5, '$']
['DoggyStyle Miami Hot Dogs', ['Miami, FL 33127'], 25.8105183, -80.2042436, 4.5, '$$']
['Benettes Pizza and Subs', ['8852 NW 22nd Ave', 'Miami, FL 33147'], 25.8550834, -80.2341257, 3.0, '$']
['Fritanga Cana Brava', ['2795 NW 7th St', 'Miami, FL 33125'], 25.77976, -80.24067, 4.5, '$']
Key missing
['Burger King', ['891 West 49th Street', 'Hialeah, FL 33012'], 25.867, -80.301412, 2.5, '$']
Key missing
Key missing
['Checkers', ['8080 NW 7th Ave', 'Miami, FL 33150'], 25.8486156463623, -80.2095565795898, 2.0, '$']
Key missing
['China Lee Restaurant', ['559 SW 8th St', 'Miami, FL 33130'], 25.766384, -80.2036679, 3.0, '$']
['Popeyes Louisiana Kitchen', ['1000 NE 163rd St', 'Miami, FL 33162'], 25.926481, -80.179919, 2.5, '$']
['Los Potosinos Taqueria', ['19203 SW 376th St', 'Homestead, FL 33034'], 25.4186968114514, -80.5033364238709, 4.5, '$']
['Papa  Pizza Cubana ', ['4625 NW 199th St', 'Miami Gardens, FL 33055'], 25.954993, -80.277481, 4.5, '$']
['World Famous', ['19401 NW 27th Ave', 'Miami Gardens, FL 33056'], 25.95109, -80.2450747042894, 4.0, '$$']
["McDonald's", ['9850 SW 8th St', 'Miami, FL 33174'], 25.7612065368867, -80.354955419898, 2.0, '$']
Key missing
['Subway Restaurants', ['13600 SW 288th Street', 'Wal-Mart', 'Homestead, FL 33033'], 25.497125, -80.410923, 2.5, '$']
['Burger King', ['12790 NW 7th Ave', 'North Miami, FL 33168'], 25.89146, -80.2113, 4.0, '$']
Key missing
Key missing
['Subres Grill', ['2218 NE 123rd St', 'North Miami, FL 33181'], 25.889523, -80.153249, 4.5, '$$']
Key missing
['La Vina Aragon', ['8155 W 8th Ave', 'Hialeah, FL 33014'], 25.8964291, -80.2995987, 4.5, '$']
Key missing
Key missing
Key missing
['Sancho Restaurant', ['13202 SW 8th St', 'Miami, FL 33184'], 25.7600770049315, -80.4102134595245, 3.5, '$$$']
Key missing
Key missing
-----------------------------------
Data Retrieval Complete
done!

In [7]:
# Add columns for lat, lng, airport name, airport address, airport rating
restaurants_df = pd.DataFrame({"Name": names,"Location": addresses,"Zipcode":zipcode, "Rating": ratings,"Price": price})

In [8]:
restaurants_df.sort_values(by=["Zipcode"], ascending=True)

print(f"The data frame contains {len(restaurants_df['Name'])} unique restaurants.")

restaurants_df

The data frame contains 30 unique restaurants.

,Name,Location,Zipcode,Rating,Price
0,KFC,"[3855 NW 27th Ave, Miami, FL 33142]",33142,2.5,$
1,DoggyStyle Miami Hot Dogs,"[Miami, FL 33127]",33127,4.5,$$
2,Benettes Pizza and Subs,"[8852 NW 22nd Ave, Miami, FL 33147]",33147,3,$
3,Fritanga Cana Brava,"[2795 NW 7th St, Miami, FL 33125]",33125,4.5,$
4,NaN,NaN,33136,NaN,NaN
5,Burger King,"[891 West 49th Street, Hialeah, FL 33012]",33012,2.5,$
6,NaN,NaN,33167,NaN,NaN
7,NaN,NaN,33126,NaN,NaN
8,Checkers,"[8080 NW 7th Ave, Miami, FL 33150]",33150,2,$
9,NaN,NaN,33032,NaN,NaN
10,China Lee Restaurant,"[559 SW 8th St, Miami, FL 33130]",33130,3,$
11,Popeyes Louisiana Kitchen,"[1000 NE 163rd St, Miami, FL 33162]",33162,2.5,$
12,Los Potosinos Taqueria,"[19203 SW 376th St, Homestead, FL 33034]",33034,4.5,$
13,Papa Pizza Cubana,"[4625 NW 199th St, Miami Gardens, FL 33055]",33055,4.5,$
14,World Famous,"[19401 NW 27th Ave, Miami Gardens, FL 33056]",33056,4,$$
15,McDonald's,"[9850 SW 8th St, Miami, FL 33174]",33174,2,$
16,NaN,NaN,33172,NaN,NaN
17,Subway Restaurants,"[13600 SW 288th Street, Wal-Mart, Homestead, F...",33033,2.5,$
18,Burger King,"[12790 NW 7th Ave, North Miami, FL 33168]",33168,4,$
19,NaN,NaN,33190,NaN,NaN
20,NaN,NaN,33169,NaN,NaN
21,Subres Grill,"[2218 NE 123rd St, North Miami, FL 33181]",33181,4.5,$$
22,NaN,NaN,33030,NaN,NaN
23,La Vina Aragon,"[8155 W 8th Ave, Hialeah, FL 33014]",33014,4.5,$
24,NaN,NaN,33193,NaN,NaN
25,NaN,NaN,33016,NaN,NaN
26,NaN,NaN,33161,NaN,NaN
27,Sancho Restaurant,"[13202 SW 8th St, Miami, FL 33184]",33184,3.5,$$$
28,NaN,NaN,33194,NaN,NaN
29,NaN,NaN,33035,NaN,NaN

In [9]:
# Save Data to csv
#cities_pd.to_csv("Airport_Output.csv")

# Visualize to confirm airport data appears
#cities_pd.head(10)